# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django DB
*.sqlite3

# Django staticfiles (solo si usas collectstatic para prod, no para tu build de front)
backend/core/static/*

# Node + Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# VSCode/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
*.swp
*~